.venv
.qodo
.vscode
.idea
*.pyc
__pycache__
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist
build
*.log
*.sqlite3
*.db
*.swp
*.bak
*.tmp
*.DS_Store
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.ipynb_checkpoints
.env
.env.local
.env.production
.env.development
.env.test
*.env
*.coverage.xml
*.coverage.json
*.coverage.html
*.coverage.txt


#Ignore vscode AI rules
.github/copilot-instructions.md
